<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poor+Story" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <body>

    <div class= "container-custom" id="login-page-container">
        <div class = "left-index">
            <div class = "features-box">
              <div class ="f-create-poll">
                <img src="/images/ballot1.png" alt="">
                <p>Create a Poll</p>
              </div>
            <hr>
              <div class = "f-invite-friends">
                <img src="/images/social-media.png" alt="">
                <p>Invite your friends to participate</p>
              </div>
            </div>

          </div>

          <div class = "right-index">
            <img src="/images/logo.png" id ="logo-1" alt="">
            <p id="logo-name">WOLFPACK</p>
            <form id ="login-form" method="" >
              <label for="email">E-mail:</label>
              <input name = "email" id = "email" type = "email" cols= "30" rows= "2"/>


              <button id = "btn-register">Get Started!</button>
            </form>
            <div class="alert alert-danger errors"  id="email-err" role="alert">
                E-mail required.
              </div>
          </div>
    </div>

    <div class="container-fluid" id = "poll-page-container">
        <div class="row">
          <div class="col-lg-12 nav-bar-custom">
            <img src="/images/werewolf.png" alt="">
            <p class ="logo">WOLFPACK</p>
          </div>
        </div>
          <div class="row">
            <div class = "col-lg-2 debug"></div>
            <div class = "col-lg-8 poll-area debug">
              <form id="form-publish">
                  <p>Ask your question!</p>
                  <textarea name="pollName" id="pollName" cols="100" rows="1"></textarea>
                  <div id="option-container">
                    <div class ="option-remove-wrapper">
                        <div class="input-group-text link-add-desc"> <a href="">+ optional description</a></div>
                        <input type="text" placeholder ="(required)" id = "req-choice-1" class="choices" name="c1">
                        <textarea class ="description-box" placeholder="Description" rows="2"></textarea>
                    </div>
                    <div class ="option-remove-wrapper">
                        <div class="input-group-text link-add-desc"> <a href="">+ optional description</a></div>
                        <input type="text" placeholder ="(required)" id = "req-choice-2" class="choices" name="c1">
                        <textarea class ="description-box" placeholder="Description" rows="2"></textarea>
                    </div>
                  </div>
                  <div class="alert alert-danger errors"  id="fieldEmptyError" role="alert">
                      Must fill the required options first!
                    </div>

                 <input type="image" id ="btn-add" src="images/add.png">
                 <div class="date-container">

                  <p><img src="/images/calendar.png" alt="">  <input class="date-picker" placeholder="Set poll end date [Required]" ></p>
                  <button class="btn btn-outline-success" id="btn-publish">Publish</button>
                 </div>


                 <div class="alert alert-danger errors"  id="empty-input-err" role="alert"></div>


              </form>
              <div class="poll-submitted hidden">
                  <h3>Poll succesfully created</h3>
                  <p>Share this link with your pack: <span><input id="share-url-input" readonly='readonly'></span><span id ="copied-badge"class="badge badge-pill badge-success hidden">Copied!</span><span><button class="btn btn-outline-success" id="copy-btn"> <img src="/images/clipboard.png" alt=""> Copy URL</button></span></p>
                  <p>An email has also been sent to <span id="creator-email"></span> with the link above and a link to view the current results.</p>
                </div>

            </div>

            <div class = "col-lg-2 publish-area debug">
              <div class = "col-lg-2 publish-area debug"></div>
            </div>
          </div>
        </div>



  </body>
</html>
