$app-font: 'Nunito', sans-serif;
$logo-font: 'Poor Story', cursive;
$primary-color: rgb(14, 35, 128);
$login-right-bg: white;

.row {
  width:100vw;
}

.input-group-text{

  border-right:none;
  height:auto;
  border-color:transparent;
  border-radius: 0px;
 }
  .container-custom{
    margin: 0;
    display: flex;
    width:100%;
    height:100vh;
    flex-direction: row;

    .left-index {
      display:flex;
      width:50%;
      background-color:$primary-color;
      height:100%;
      justify-content:center;
      align-items:flex-start;

      #logo {
        margin-top:12px;
        margin-left:12px;
      }
      .features-box{
        display: flex;
        width:600px;
        height:200px;
        flex-direction: column;
        align-self: center;
        justify-content: space-between;

        img{
          width:64px;
          height: 64px;
        }

        p {
          font-size: 26px;
          color:white;
          font-weight: bold;
          align-self:baseline;
        }


        .f-create-poll{
          display: flex;
          width:100%;
          height:50%;
          justify-content: space-between;

          img {
            margin-top:10px;
          }
        }

        .f-invite-friends{
          display: flex;
          width:100%;
          height:50%;
          justify-content: space-between;

          img {
            margin-top: 10px;
          }
        }
      }
    }

    .right-index{
      display:flex;
      width:50%;
      background-color: white;
      height:100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color:$primary-color;

      #logo-name{
        font-family: $logo-font;
        font-size:40px;
      }

      #login-form{
        display: flex;
        flex-direction: column;
        width:30%;
        justify-content: space-between;
        border: 1px solid rgba(14, 35, 128,0.2);
        border-radius:5px;
        padding:5px;


        #email{
          height:25px;
          border-radius: 10px;
        }

        button{
          width: 50%;
          align-self: center;
          border-radius: 10px;
        }
        #btn-register{
          color:white;
          background:$primary-color;
          height:50px;
        }
      }
    }


  }


.hidden{
  display: none;
}

.nav-bar-custom{

  width:100%;
  color:white;
  background-color: $primary-color;
  font-family: $logo-font;
  font-size:40px;
  // height:18vh;
}



.poll-area{
  font-family: $app-font;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width:100%;


  form{
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

      #btn-add{
        width:32px;
        height:32px;
        align-self: center;
      }


  }

  p{
    font-size: 30px;
    margin-top:20px;
    text-align: center;
  }
  #pollName{

    white-space: normal;
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
    font-size:25px;
    width:980px;
    border-color:#0e2380;
    border-radius: 10px;
   resize: none;
   height:50px;
  }

  .date-container{
    margin-top:40px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width:974px;
    p{
      font-size: 1rem;
    }

    #btn-publish{
      border-color:transparent;
    }
  }
  .date-picker{
    display:flex;
    // margin-left:50%-19%;
    // align-self:center;
    background-image: url("/images/calendar.png");
    background-repeat: no-repeat;
    background-size:32px;
    background-position-x:64px;
    border: 0px solid;
    margin-top:10px;
    width:19%;

    border-radius:10px;
  }

  .option-remove-wrapper{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top:5px;
    margin-bottom:5px;
    input[type="image"]{
      margin-left:5px;

      width:32px;
      height:32+9px;
      padding-top:9px;

    }
    input[type="text"] {

      border-style:solid;
      border-color:#e9ecef;
      white-space: normal;
      text-align: justify;
      -moz-text-align-last: center;
      text-align-last: center;
      font-size:25px;
      width:811px;
     resize: none;
     height:50px;
     border-left:none;
     border-top-right-radius: 10px;


    }

    #link-add-desc{
      border:0;
      background-color: transparent;
    }

    #btn-remove{
      align-self: flex-end;
    }

    .description-box{
      display:none;
      border-top:none;
      border-color: grey;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      width:990px;
      height:100px;
      resize: none;


    }


  }


}

.publish-area{
  display:flex;
  justify-content: center;
  align-items: center;
}
// .debug{
//   border: 3px red solid;
// }

.hidden{
  display:hidden;
}


//Vote poll page

#user-vote-poll-container{


  display:flex;
  height: 80vh;
  border: 1px red solid;
  font-family: $app-font;
  flex-direction: column;
  align-items: center;
  h1{
    font-size: 45px;
    font-weight: bold;
    margin-top:20px;
    text-align: center;
  }
  #sortable {
    display:flex;
    height:70%;
    flex-direction:column;
    list-style-type: none;
     margin: 0;
      padding: 0;
      justify-content: space-around }
  #sortable li { text-align: center;width:898px; border: 1px solid lightgrey;}

}

#email-err {
  display: none;
}

#poll-submitted {
  display: none;
}

#poll-page-container {
  display: none;
}
.dataToProcess{
  display:flex;
  flex-direction: row;
}