$app-font: 'Nunito', sans-serif;
$logo-font: 'Poor Story', cursive;
$primary-color: rgb(14, 35, 128);
$login-right-bg: white;

.row {
  width:100vw;
}

.input-group-text{

  border-right:none;
  height:auto;
  border-color:transparent;
  border-radius: 0px;
 }
  .container-custom{
    margin: 0;
    display: flex;
    width:100%;
    height:100vh;
    flex-direction: row;

    .left-index {
      display:flex;
      width:50%;
      background-color:$primary-color;
      height:100%;
      justify-content:center;
      align-items:flex-start;

      #logo {
        margin-top:12px;
        margin-left:12px;
      }
      .features-box{
        display: flex;
        width:600px;
        height:200px;
        flex-direction: column;
        align-self: center;
        justify-content: space-between;

        img{
          width:64px;
          height: 64px;
        }

        p {
          font-size: 26px;
          color:white;
          font-weight: bold;
          align-self:baseline;
        }


        .f-create-poll{
          display: flex;
          width:100%;
          height:50%;
          justify-content: space-between;

          img {
            margin-top:10px;
          }
        }

        .f-invite-friends{
          display: flex;
          width:100%;
          height:50%;
          justify-content: space-between;

          img {
            margin-top: 10px;
          }
        }
      }
    }

    .right-index{
      display:flex;
      width:50%;
      background-color: white;
      height:100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color:$primary-color;

      #logo-name{
        font-family: $logo-font;
        font-size:40px;
      }

      #login-form{
        display: flex;
        flex-direction: column;
        width:30%;
        justify-content: space-between;
        border: 1px solid rgba(14, 35, 128,0.2);
        border-radius:5px;
        padding:5px;


        #email{
          height:25px;
          border-radius: 10px;
        }

        button{
          align-self: center;
          border-radius: 10px;
        }
        #btn-register{
          color:white;
          background:$primary-color;
          height:50px;
          margin-top:10px;
        }
      }
    }


  }



.nav-bar-custom{

  width:100%;
  color:white;
  background-color: $primary-color;
  font-family: $logo-font;
  font-size:40px;
  // height:18vh;
}



.poll-area{
  font-family: $app-font;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width:100%;


  form{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

      #btn-add{
        width:32px;
        height:32px;
        align-self: center;
      }


  }

  p{
    font-size: 30px;
    margin-top:20px;
    text-align: center;
  }
  #pollName{

    white-space: normal;
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
    font-size:25px;
    width:980px;
    border-color:#0e2380;
    border-radius: 10px;
   resize: none;
   height:50px;
  }

  .date-container{
    margin-top:40px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width:974px;
    p{
      display:flex;
      flex-direction: row;
      font-size: 1rem;

      input {
        margin-left:5%;
        width: 250px;
      }
    }
    img{
      width:32px;
      height:32px;
    }
    #btn-publish{
      margin-top: 20px;
    }
  }
  .date-picker{
    display:flex;
    text-align: center;
    border: 1px solid rgb(233, 233, 233);
    margin-top:10px;
    border-radius:10px;

  }

  .option-remove-wrapper{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top:5px;
    margin-bottom:5px;
    input[type="image"]{
      margin-left:5px;

      width:32px;
      height:32+9px;
      padding-top:9px;

    }
    input[type="text"] {

      border-style:solid;
      border-color:#e9ecef;
      white-space: normal;
      text-align: justify;
      -moz-text-align-last: center;
      text-align-last: center;
      font-size:25px;
      width:811px;
     resize: none;
     height:50px;
     border-left:none;
     border-top-right-radius: 10px;


    }

    #link-add-desc{
      border:0;
      background-color: transparent;
    }

    #btn-remove{
      align-self: flex-end;
    }

    .description-box{
      display:none;
      border-top:none;
      border-color: grey;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      width:990px;
      height:40px;
      resize: none;
    }


  }


}

.publish-area{
  display:flex;
  justify-content: center;
  align-items: center;
}
.debug{
  border:1px solid red;
}

.hidden{
  display:none;
}


//Vote poll page

#user-vote-poll-container{


  display: none;
  // height: 80vh;

  font-family: $app-font;
  flex-direction: column;
  align-items: center;
  h1{
    font-size: 45px;
    font-weight: bold;
    margin-top:20px;
    text-align: center;
  }
  #sortable {
    display:flex;
    height:70%;
    flex-direction:column;
    list-style-type: none;
     margin: 0;
      padding: 0;
      justify-content: space-around }
  #sortable li {
    text-align: center;
    width:600px;
    border-radius: 10px;
    border: 3px solid rgb(14, 35, 128);
    background-color: rgb(233, 233, 233);
    margin: 10px 0px;
  }
  #submit-vote-btn {
    margin: 10px 0 40px 0;
  }

}

#email-err {
  margin-top:10px;
  display: none;

}


.poll-submitted {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  height:60vh;

  h3{
    color:green;
  }
  #share-url-input{
    border-style: dashed;
    width:100%;
    text-align: center;
  }

  #creator-email{
    border-bottom:1px solid black;
  }
}

#poll-page-container {
  display: none;
}

.result-area{
  display: flex;
  flex-direction: column;
  align-items: center;


  #total-votes{
    font-family: $app-font;
    font-size: 45px;

    span {
      color:red;
    }
  }

}
.dataToProcess{
  display:flex;
  flex-direction: row;
}
#current-lead{
  font-family: $app-font;
  color:$primary-color;
  font-size: 40px;
  font-weight: bold;
  border: 1px $primary-color solid;
  border-radius: 10px;
  padding:5px;
}
#current-lead-p{
  font-size: 35px;
}

#question {
  width:0px;
  height:0px;
}

.hidden{
  display: none;
}

.vote-success{
  display: hidden;
  margin-top: 20px;
  text-align: center;
  font-family: $app-font;
  font-size: 1.5rem;
}

#voter-name-input {
  text-align: center;
  font-size: 1.2rem;
  input {
    border-radius: 5px;
  }
}

#voter-name-err {
  margin-top: 10px;
  display: none;
}

#small-footer {
  margin-top: 10px;
  font-size: 0.60rem;
}

.no-poll-err {
  font-family: $app-font;
  text-align: center;
  font-size: 1.5rem;
}
